@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h2>Error</h2>
@*@if(Viewbag.Message != null)
{
    ViewBag.Message
}*@
 
<span class="alert-warning">Contact the support service, or send email on vladlutsenko1996@gmail.com</span>

